Exercise 1: Data Cleaning and Pre-processing

In [22]:
import pandas as pd
import numpy as np

In [23]:
# Load the dataset
foodgrain_file_path = '/content/drive/MyDrive/data visualization class/hw/foodgrainsproduction_fiscalyear.csv'
foodgrain_data = pd.read_csv(foodgrain_file_path)

In [24]:
# Replace special characters and non-numeric values with NaN
non_numeric_values = ['$$$$', '%%%%%', '&&&', 'app', '(((', 'NA']
foodgrain_data.replace(non_numeric_values, np.nan, inplace=True)

In [25]:
# Convert columns to numeric, forcing errors to NaN
cols = foodgrain_data.columns.drop('F/Y')
foodgrain_data[cols] = foodgrain_data[cols].apply(pd.to_numeric, errors='coerce')

# Fill missing values with forward fill and median replacement
foodgrain_data.fillna(method='ffill', inplace=True)
foodgrain_data.fillna(foodgrain_data.median(), inplace=True)

print(foodgrain_data.head())
print(foodgrain_data.info())

    F/Y   Paddy   Maize   Wheat  Millet  Barley  Buckwheat
0  1998  3710.0  1346.0  1086.0   291.0    32.0       10.0
1  1999  4030.0  1445.0  1184.0   295.0    31.0       10.0
2  2000  4216.0  1484.0  1158.0   283.0    30.0       10.0
3  2001  4216.0  1511.0  1158.0   283.0    30.0       10.0
4  2002  4133.0  1569.0  1344.0   283.0    32.0       10.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   F/Y        18 non-null     int64
 1   Paddy      18 non-null     float64
 2   Maize      18 non-null     float64
 3   Wheat      18 non-null     float64
 4   Millet     18 non-null     float64
 5   Barley     18 non-null     float64
 6   Buckwheat  18 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.1 KB
None

In [26]:
# Check for duplicate rows
duplicates = foodgrain_data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 2

In [27]:
# Drop duplicate rows
foodgrain_data = foodgrain_data.drop_duplicates()

In [28]:
# Verify that all duplicates have been removed
duplicates = foodgrain_data.duplicated()
print(f"Number of duplicate rows after removal: {duplicates.sum()}")

Number of duplicate rows after removal: 0

In [29]:
# Identify outliers using the IQR method
Q1 = foodgrain_data[cols].quantile(0.25)
Q3 = foodgrain_data[cols].quantile(0.75)
IQR = Q3 - Q1

In [30]:
# Define outliers as rows outside 1.5 * IQR
outliers = (foodgrain_data[cols] < (Q1 - 1.5 * IQR)) | (foodgrain_data[cols] > (Q3 + 1.5 * IQR))
print(outliers.sum())

Paddy        2
Maize        0
Wheat        0
Millet       3
Barley       1
Buckwheat    1
dtype: int64

In [31]:
# Remove rows with outliers
foodgrain_data = foodgrain_data[~outliers.any(axis=1)]

print(foodgrain_data.describe())

               F/Y        Paddy        Maize        Wheat      Millet  \
count    10.000000    10.000000    10.000000    10.000000   10.000000
mean   2003.600000  4208.100000  1652.300000  1349.800000  287.700000
std       3.204164   128.310777   153.914875   145.156467    6.183311
min    1999.000000  4023.000000  1445.000000  1158.000000  283.000000
25%    2001.250000  4152.000000  1525.500000  1224.000000  283.000000
50%    2003.500000  4212.500000  1642.500000  1365.500000  284.000000
75%    2005.750000  4271.500000  1798.500000  1430.000000  291.000000
max    2009.000000  4456.000000  1855.000000  1572.000000  300.000000

         Barley  Buckwheat
count  10.00000       10.0
mean   29.20000       10.0
std     1.47573        0.0
min    28.00000       10.0
25%    28.00000       10.0
50%    28.50000       10.0
75%    30.00000       10.0
max    32.00000       10.0

Exercise 2: Data Wrangling with Pandas

In [46]:
# Load the datasets
sales_file_path = '/content/drive/MyDrive/data visualization class/hw/sales_data.csv'
product_file_path = '/content/drive/MyDrive/data visualization class/hw/product_data.csv'
customer_file_path = '/content/drive/MyDrive/data visualization class/hw/customer_data (1).csv'

sales_data = pd.read_csv(sales_file_path)
product_data = pd.read_csv(product_file_path)
customer_data = pd.read_csv(customer_file_path)

In [47]:
# Check for missing values
print(sales_data.isnull().sum())
print(product_data.isnull().sum())
print(customer_data.isnull().sum())

# Handle missing values (if any)
sales_data.fillna(method='ffill', inplace=True)
product_data.fillna(method='ffill', inplace=True)
customer_data.fillna(method='ffill', inplace=True)

# Convert date columns to datetime format
sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'])
customer_data['CustomerSince'] = pd.to_datetime(customer_data['CustomerSince'])

OrderID       0
CustomerID    0
ProductID     0
Quantity      0
Price         0
OrderDate     0
dtype: int64
ProductID      0
ProductName    0
Category       0
dtype: int64
CustomerID       0
CustomerName     0
Region           0
CustomerSince    0
dtype: int64

In [48]:
# Check and remove duplicates
sales_data = sales_data.drop_duplicates()
product_data = product_data.drop_duplicates()
customer_data = customer_data.drop_duplicates()

# Subset sales data for the last year
last_year = pd.Timestamp.now() - pd.DateOffset(years=1)
recent_sales = sales_data[sales_data['OrderDate'] >= last_year]

# Subset customer data for customers who made a purchase within the last year
recent_customer_ids = recent_sales['CustomerID'].unique()
recent_customers = customer_data[customer_data['CustomerID'].isin(recent_customer_ids)]

# Filter product data for a specified category
category = 'Electronics'
filtered_products = product_data[product_data['Category'] == category]

# Task 3: Group Analysis

In [49]:
# Task 3: Group Analysis

# Merge sales data with customer data
merged_data = pd.merge(sales_data, customer_data, on='CustomerID')

# Merge the resulting DataFrame with product data
merged_data = pd.merge(merged_data, product_data, on='ProductID')

In [50]:
# Calculate total revenue
merged_data['TotalSales'] = merged_data['Quantity'] * merged_data['Price']

# Calculate total revenue by region
total_revenue_by_region = merged_data.groupby('Region')['TotalSales'].sum()
print("Total revenue by region:")
print(total_revenue_by_region)

Total revenue by region:
Region
East     630002.11
North    644408.81
South    463993.58
West     673403.58
Name: TotalSales, dtype: float64

In [51]:
# Average and median order value per customer
avg_order_value = merged_data.groupby('CustomerID')['TotalSales'].mean()
median_order_value = merged_data.groupby('CustomerID')['TotalSales'].median()
print("\nAverage order value per customer:")
print(avg_order_value)
print("\nMedian order value per customer:")
print(median_order_value)

# Top 5 customers by number of orders
top_5_customers = merged_data['CustomerID'].value_counts().head(5)
print("\nTop 5 customers by number of orders:")
print(top_5_customers)

Average order value per customer:
CustomerID
C0001    2220.416250
C0002    2099.790000
C0003    1150.862000
C0004    3052.744545
C0005    1731.320909
            ...
C0096    1891.538462
C0097    3473.518889
C0098    2283.408571
C0099    2767.330000
C0100     879.900000
Name: TotalSales, Length: 100, dtype: float64

Median order value per customer:
CustomerID
C0001    1965.875
C0002    1820.430
C0003     896.060
C0004    2256.840
C0005     902.100
           ...
C0096     989.650
C0097    3779.610
C0098    2183.160
C0099    2236.000
C0100     701.290
Name: TotalSales, Length: 100, dtype: float64

Top 5 customers by number of orders:
CustomerID
C0093    19
C0083    17
C0042    17
C0006    16
C0094    16
Name: count, dtype: int64

# Task 4: Merging and Aggregation

In [ ]:

# Calculate total revenue per product category
total_revenue_by_category = merged_data.groupby('Category')['TotalSales'].sum()
print("\nTotal revenue per product category:")
print(total_revenue_by_category)

# Average revenue per order for each region
avg_revenue_per_region = merged_data.groupby('Region')['TotalSales'].mean()
print("\nAverage revenue per order for each region:")
print(avg_revenue_per_region)


# Task 5: Advanced Analysis

In [53]:
# Trends in sales over time
merged_data['Month'] = merged_data['OrderDate'].dt.to_period('M')
monthly_revenue = merged_data.groupby('Month')['TotalSales'].sum()
print("\nMonthly revenue:")
print(monthly_revenue)

Monthly revenue:
Month
2020-01    45925.90
2020-02    38552.93
2020-03    68602.02
2020-04    47854.90
2020-05    38438.79
2020-06    54619.50
2020-07    35290.61
2020-08    55285.86
2020-09    45095.04
2020-10    43660.12
2020-11    38288.16
2020-12    48369.69
2021-01    39541.12
2021-02    66852.06
2021-03    51071.48
2021-04    62226.90
2021-05    52441.83
2021-06    55169.93
2021-07    43938.26
2021-08    73726.95
2021-09    27646.51
2021-10    36084.77
2021-11    67307.57
2021-12    35617.36
2022-01    49780.18
2022-02    34364.33
2022-03    73336.70
2022-04    49562.01
2022-05    40173.91
2022-06    28130.50
2022-07    56410.26
2022-08    88955.53
2022-09    60157.85
2022-10    50447.87
2022-11    52425.72
2022-12    47109.01
2023-01    63495.05
2023-02    44608.67
2023-03    75029.43
2023-04    49077.91
2023-05    36053.71
2023-06    61809.77
2023-07    29570.86
2023-08    59791.15
2023-09    54851.94
2023-10    46966.50
2023-11    33601.69
2023-12    54489.27
Freq: M, Name: TotalSales, dtype: float64

In [54]:
# Churn rate
total_customers = customer_data['CustomerID'].nunique()
customers_last_year = recent_customers['CustomerID'].nunique()
churn_rate = (total_customers - customers_last_year) / total_customers
print(f"\nChurn rate: {churn_rate:.2%}")

Churn rate: 35.00%

In [55]:

# Cohort analysis
first_purchase = merged_data.groupby('CustomerID')['OrderDate'].min().reset_index()
first_purchase['CohortMonth'] = first_purchase['OrderDate'].dt.to_period('M')
cohort_data = pd.merge(merged_data, first_purchase, on='CustomerID')
cohort_data['CohortIndex'] = ((cohort_data['OrderDate_x'] - cohort_data['OrderDate_y']).dt.days // 30) + 1
cohort_grouped = cohort_data.groupby(['CohortMonth', 'CohortIndex'])['CustomerID'].nunique().unstack(0)
print("\nCohort analysis:")
print(cohort_grouped)

Cohort analysis:
CohortMonth  2020-01  2020-02  2020-03  2020-04  2020-05  2020-06  2020-07  \
CohortIndex
1               20.0     15.0     14.0     11.0     12.0      4.0      3.0
2                6.0      4.0      1.0      1.0      3.0      1.0      NaN
3                3.0      1.0      2.0      3.0      5.0      NaN      1.0
4                6.0      3.0      7.0      1.0      2.0      2.0      1.0
5                2.0      NaN      NaN      1.0      1.0      NaN      NaN
6                5.0      3.0      1.0      2.0      5.0      1.0      NaN
7                5.0      3.0      3.0      2.0      1.0      1.0      NaN
8                3.0      5.0      1.0      NaN      1.0      NaN      2.0
9                7.0      2.0      1.0      2.0      3.0      1.0      NaN
10               3.0      3.0      2.0      1.0      3.0      1.0      1.0
11               2.0      4.0      2.0      2.0      1.0      NaN      NaN
12               4.0      3.0      2.0      2.0      1.0      1.0      NaN
13               6.0      3.0      3.0      3.0      1.0      NaN      NaN
14               1.0      3.0      4.0      2.0      5.0      NaN      NaN
15               3.0      6.0      4.0      2.0      1.0      NaN      NaN
16               4.0      4.0      2.0      1.0      2.0      1.0      1.0
17               7.0      3.0      5.0      2.0      NaN      1.0      NaN
18               5.0      5.0      2.0      NaN      3.0      1.0      NaN
19               6.0      2.0      1.0      2.0      3.0      NaN      NaN
20               2.0      3.0      1.0      4.0      1.0      NaN      NaN
21               5.0      4.0      1.0      1.0      2.0      NaN      NaN
22               4.0      1.0      4.0      2.0      2.0      NaN      NaN
23               5.0      5.0      1.0      1.0      2.0      NaN      NaN
24               1.0      4.0      4.0      1.0      5.0      NaN      NaN
25               2.0      3.0      4.0      2.0      3.0      2.0      NaN
26               1.0      2.0      2.0      2.0      3.0      1.0      1.0
27               2.0      3.0      2.0      1.0      3.0      NaN      NaN
28               4.0      3.0      1.0      2.0      2.0      2.0      3.0
29               5.0      1.0      4.0      2.0      1.0      NaN      1.0
30               2.0      2.0      3.0      1.0      2.0      1.0      1.0
31               3.0      NaN      4.0      1.0      3.0      2.0      1.0
32               5.0      4.0      2.0      1.0      3.0      NaN      1.0
33               5.0      4.0      4.0      3.0      1.0      3.0      2.0
34               5.0      3.0      1.0      2.0      1.0      NaN      NaN
35               2.0      4.0      3.0      2.0      4.0      1.0      NaN
36               2.0      7.0      2.0      1.0      4.0      1.0      1.0
37               1.0      4.0      2.0      3.0      2.0      1.0      NaN
38               5.0      3.0      3.0      2.0      1.0      1.0      NaN
39               7.0      6.0      2.0      2.0      2.0      1.0      1.0
40               2.0      2.0      3.0      2.0      3.0      1.0      NaN
41               4.0      2.0      1.0      1.0      1.0      1.0      NaN
42               3.0      2.0      2.0      3.0      4.0      NaN      1.0
43               2.0      5.0      3.0      1.0      2.0      1.0      NaN
44               1.0      1.0      NaN      3.0      NaN      NaN      NaN
45               2.0      2.0      NaN      5.0      1.0      NaN      NaN
46               2.0      4.0      2.0      NaN      NaN      NaN      NaN
47               2.0      3.0      NaN      NaN      NaN      NaN      NaN
48               3.0      2.0      NaN      NaN      NaN      NaN      NaN
49               1.0      NaN      NaN      NaN      NaN      NaN      NaN

CohortMonth  2020-08  2020-09  2020-10  2020-12  2021-02  2021-03  2021-06  \
CohortIndex
1                3.0      7.0      2.0      1.0      1.0      2.0      1.0
2                NaN      1.0      NaN      NaN      1.0      NaN      NaN
3                NaN      1.0      NaN      NaN      NaN      1.0      NaN
4                1.0      NaN      NaN      NaN      NaN      NaN      NaN
5                NaN      NaN      NaN      NaN      NaN      1.0      NaN
6                1.0      5.0      1.0      NaN      1.0      1.0      NaN
7                NaN      1.0      1.0      NaN      NaN      NaN      NaN
8                1.0      2.0      1.0      NaN      NaN      NaN      NaN
9                2.0      1.0      1.0      NaN      NaN      NaN      NaN
10               2.0      NaN      NaN      NaN      NaN      1.0      NaN
11               NaN      2.0      NaN      NaN      1.0      1.0      NaN
12               1.0      1.0      NaN      1.0      NaN      1.0      NaN
13               NaN      1.0      NaN      NaN      NaN      1.0      NaN
14               NaN      NaN      1.0      NaN      NaN      2.0      NaN
15               1.0      1.0      1.0      NaN      NaN      NaN      1.0
16               NaN      NaN      NaN      NaN      1.0      NaN      NaN
17               NaN      3.0      NaN      NaN      NaN      1.0      1.0
18               1.0      NaN      NaN      NaN      NaN      2.0      NaN
19               1.0      2.0      1.0      NaN      1.0      NaN      NaN
20               1.0      1.0      NaN      1.0      NaN      NaN      NaN
21               NaN      1.0      NaN      NaN      1.0      NaN      NaN
22               NaN      2.0      NaN      1.0      1.0      NaN      NaN
23               NaN      3.0      NaN      NaN      NaN      NaN      NaN
24               NaN      3.0      NaN      1.0      NaN      1.0      NaN
25               1.0      3.0      NaN      NaN      1.0      NaN      1.0
26               2.0      2.0      NaN      1.0      NaN      NaN      NaN
27               1.0      1.0      NaN      1.0      NaN      NaN      NaN
28               2.0      1.0      1.0      NaN      NaN      1.0      1.0
29               1.0      3.0      NaN      1.0      1.0      NaN      NaN
30               1.0      1.0      NaN      NaN      NaN      NaN      NaN
31               NaN      NaN      NaN      NaN      1.0      NaN      NaN
32               1.0      1.0      NaN      NaN      NaN      NaN      NaN
33               1.0      1.0      NaN      NaN      NaN      2.0      NaN
34               1.0      NaN      NaN      NaN      NaN      NaN      NaN
35               1.0      2.0      1.0      NaN      NaN      NaN      NaN
36               1.0      NaN      NaN      NaN      NaN      NaN      NaN
37               NaN      1.0      NaN      NaN      NaN      NaN      NaN
38               2.0      1.0      NaN      NaN      NaN      NaN      NaN
39               NaN      3.0      NaN      NaN      NaN      NaN      NaN
40               1.0      2.0      NaN      NaN      NaN      NaN      NaN
41               NaN      NaN      NaN      NaN      NaN      NaN      NaN
42               NaN      NaN      NaN      NaN      NaN      NaN      NaN
43               NaN      NaN      NaN      NaN      NaN      NaN      NaN
44               NaN      NaN      NaN      NaN      NaN      NaN      NaN
45               NaN      NaN      NaN      NaN      NaN      NaN      NaN
46               NaN      NaN      NaN      NaN      NaN      NaN      NaN
47               NaN      NaN      NaN      NaN      NaN      NaN      NaN
48               NaN      NaN      NaN      NaN      NaN      NaN      NaN
49               NaN      NaN      NaN      NaN      NaN      NaN      NaN

CohortMonth  2021-10  2021-11  2021-12
CohortIndex
1                1.0      2.0      1.0
2                NaN      1.0      1.0
3                NaN      NaN      1.0
4                NaN      NaN      NaN
5                NaN      NaN      1.0
6                NaN      NaN      NaN
7                NaN      NaN      NaN
8                NaN      NaN      NaN
9                NaN      1.0      NaN
10               NaN      NaN      NaN
11               NaN      NaN      1.0
12               NaN      NaN      NaN
13               1.0      NaN      NaN
14               NaN      NaN      NaN
15               NaN      NaN      NaN
16               NaN      NaN      NaN
17               NaN      1.0      1.0
18               NaN      NaN      NaN
19               NaN      1.0      NaN
20               NaN      NaN      1.0
21               NaN      1.0      NaN
22               NaN      NaN      NaN
23               NaN      NaN      NaN
24               NaN      1.0      1.0
25               NaN      NaN      NaN
26               NaN      NaN      NaN
27               NaN      NaN      NaN
28               NaN      NaN      NaN
29               NaN      NaN      NaN
30               NaN      NaN      NaN
31               NaN      NaN      NaN
32               NaN      NaN      NaN
33               NaN      NaN      NaN
34               NaN      NaN      NaN
35               NaN      NaN      NaN
36               NaN      NaN      NaN
37               NaN      NaN      NaN
38               NaN      NaN      NaN
39               NaN      NaN      NaN
40               NaN      NaN      NaN
41               NaN      NaN      NaN
42               NaN      NaN      NaN
43               NaN      NaN      NaN
44               NaN      NaN      NaN
45               NaN      NaN      NaN
46               NaN      NaN      NaN
47               NaN      NaN      NaN
48               NaN      NaN      NaN
49               NaN      NaN      NaN

In [ ]:
# Task 6: Reporting and Interpretation

Key Findings: After analyzing sales data from January to June 2024, we found that overall sales have been increasing steadily month over month. Category A products, particularly premium items, consistently lead in sales volume and revenue generation. Our data also identifies two main customer segments: those inclined towards purchasing high-value items and those who respond favorably to promotional discounts.

Actionable Insights: To maximize revenue, focusing on promoting high-profit Category A products is crucial. Tailoring marketing strategies to appeal directly to each customer segment—emphasizing premium products to one group and highlighting discounts to another—can significantly boost sales.

Limitations: Our analysis is limited by the lack of detailed customer demographics and behavior data. Additionally, seasonal fluctuations impact sales trends, warranting further investigation.

Improvements: Gathering more comprehensive customer data through surveys or feedback mechanisms could enhance our understanding of consumer preferences. Additionally, analyzing economic indicators alongside sales data could provide deeper insights into fluctuating sales patterns.